*{
    font-family:cursive;
}
form{
    background-color:#F1F0CC;
    display: flex;
    flex-flow: column;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items:center;
    border-radius: 20px;
    box-shadow: 5px 10px #8D775F;
}


h1,h2{
        text-align: center;
}

#num1,#num2{
    border:none;
    width: 80%;
    border-bottom:solid 1px black;
    border-radius: 20px;
    padding: 1%;
    }

.button{
    margin:1.5% 0 1.5% 0;
    color:#D5BF86;
    background-color:#9e805f;
    border-radius: 20px;
    width: 60%;
    cursor: pointer;
}

.button:hover{
    background-color: #f5dea6;
}

p{
    text-align: center;
}

.resultado{
    width: 25%;
    background-color:#F1F0CC;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px #8D775F;
}

a{
    text-decoration: none;
}

footer{
    margin-top: 10%;
}